@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: linear-gradient(to right , #007991 , #78FFD6);
}

.screen {
    height:450px;
}

@media screen and (max-width: 360px) {
    .screen {
        margin: 30px;
        height: calc(100vh - 60px);
        width : calc(100vw - 60px);
    }
    
}